body {
    margin: 0;
    font-family: 'Monserat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    border: 0;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;

    background-color: #e5e5e5;
}

/* Container */ 
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Section */
.section {
    padding: 80px 80px;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #13144e;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #13144e;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto 30px;

    background-color: #585fc4;
}

.section__text {
    font-size: 15px;
    color: #585fc4;
}

.section--blue {
  background-color: #e0e1f7;
}

.section--clients {
    background-color: #fff;
}


/* We do */
.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}


/* Accordion */
.accordion__item {
    border: 1px solid #585fc4;
    margin-bottom: 10px;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__item.active .accordion__header {
    border-bottom-color: #585fc4;
}

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 20px 15px 60px;
    position: relative;

    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #585fc4;
    border-right: 2px solid #585fc4;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;
    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    display: none;

    font-family: 'Kaushan Script', cursive;
    color: #585fc4;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.accordion__title {
    font-size: 14px;
    color: #13144e;
    text-transform: uppercase;
    font-weight: 700;
}

/* Reviews */
.reviews {
  padding: 0 110px;
  position: relative;
}

.reviews__item {
  padding-left: 205px;
  position: relative;
}

.reviews__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 2px solid #3436bd;
}

.reviews__text {
  margin-bottom: 15px;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #585fc4;
}

.reviews__avthor {
  font-style: 24px;
  color: #3436bd;
  font-family: 'Kaushan Script', cursive;
  font-weight: 700;
}

.reviews__avthor:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;

  background-color: #585fc4;
}

.reviews__btn {
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews__btn:after {
  content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #585fc4;
    border-left: 2px solid #585fc4;
}

.reviews__btn--prev {
  left: 0;
  transform: rotate(-45deg);
}

.reviews__btn--next {
  right: 0;
  transform: rotate(135deg);
}










/* Header */
.header {
    width: 100%;
    padding-top: 15px;
    padding: 10px 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: #e0e1f7;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 20px;
    font-weight: 700;
    color: #4a4b94;
}

/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #808cd3;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #4755a7;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav__link:hover:after, .nav__link {
    opacity: 1;
}

.nav__link:hover {
    color: #4755a7;
}

.link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #3436bd;
    text-decoration: none;

    transition: color .2s linear;
    cursor: pointer;
}

/* Clients */
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    display: block;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #585fc4;
    text-transform: uppercase;
}

.clients__prof {
    margin-bottom: 7px;

    font-size: 15px;
    color: #3436bd;
    font-style: italic;
    font-weight: 300;
}

.clients__text {
    font-size: 15px;
    color: #808cd3;
}

.clients__text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;

    background-color: #4755a7;
}

/* Copiright */
.copyright {
    border-top: 1px solid #8081d3;
  
    padding: 20px 0;
    text-align: center;
    font-style: 14px;
    color: #13144e;
  }
  
  .copyright span {
    color: #3436bd;
  }


















