.sim-slider-elementimg {
    width: 100%;
  }
  
  .sim-slider {
    max-width: 1000px;
    min-width: 320px;
    margin: 20px auto;
    padding: 30px 50px;
  
    background-color: white;

    opacity: 20px 80px;
  }
  
  /* General styles */
  .sim-slider {
    position: relative;
  }
  
  .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
  }
  
  /* Navigation item styles */
  div.sim-slider-arrow-left,
  div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
  }
  
  div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
  }
  
  div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
  }
  
  div.sim-slider-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-arrow-right:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
  }
  
  span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
  }

/* Header */
.header {
  width: 100%;
  padding-top: 15px;
  padding: 10px 20px 20px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: #e0e1f7;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 20px;
  font-weight: 700;
  color: #4a4b94;
}

/* Nav */

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #808cd3;
  text-decoration: none;

  transition: color .2s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #4755a7;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .2s linear;
}

.nav__link:hover:after, .nav__link {
  opacity: 1;
}

.nav__link:hover {
  color: #4755a7;
}

.link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #3436bd;
  text-decoration: none;

  transition: color .2s linear;
  cursor: pointer;
}

/* Container */ 
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Section */
.section {
  padding: 0px 80px;
  margin: 80px 10px 20px;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;

  text-align: center;
}

.section__subtitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #13144e;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #13144e;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 40px auto 30px;

  background-color: #585fc4;
}

.section__text {
  font-size: 17px;
  color: #585fc4;
}

.section--blue {
background-color: #e0e1f7;
padding: 50px;
}

.section--map {
  background: #e6e6e6 url(../img/cervise_photo/cart.png) center no-repeat;
  background-size: cover;
  padding: 40px;

}

/* Reviews */
.reviews {
  padding: 0 110px;
  position: relative;
}

.reviews__item {
  padding-left: 205px;
  position: relative;
}

.reviews__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 2px solid #3436bd;
  
}

.reviews__text {
  margin-bottom: 15px;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #585fc4;
}

.reviews__avthor {
  font-style: 24px;
  color: #3436bd;
  font-family: 'Kaushan Script', cursive;
  font-weight: 700;
}

.reviews__avthor:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;

  background-color: #585fc4;
}

.reviews__btn {
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews__btn:after {
  content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #585fc4;
    border-left: 2px solid #585fc4;
}

.reviews__btn--prev {
  left: 0;
  transform: rotate(-45deg);
}

.reviews__btn--next {
  right: 0;
  transform: rotate(135deg);
}

/* Works */
.works {
  display: flex;
}

.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;
  width: 400px;
  margin-top: 10px;
  margin: 9px;
 
  background: linear-gradient(to bottom, #13144e, #808cd3);
}

.works__item:hover .works__image {
  opacity: .5;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__image {
  display: block;
  transition: opasity .2s linear;
}

.works__info {
  width: 100%;
  padding: 0 15px;

  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  
  transform: translate3d(0, -50%, 0);

  color: #fff;
  transition: opasity .2s linear;
}

.works__title {
  margin-bottom: 5px;

  font-size: 14px;
  text-transform: uppercase;
}

.works__text {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}


/* Blog */
.blog {
  display: flex;
  justify-content: space-between;
}

.blog__item {
  width: 30%;
}

.blog__header {
  position: relative;
  margin-bottom: 13px;
}

.blog__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.blog__date {
  background-color: #4ea1c2;
  padding: 10px 13px 10px;

  font-style: italic;
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  text-align: center;

  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 1;
}

.blog__date-day {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  font-style: normal;
}

.blog__content {
  margin-bottom: 10px;
}

.blog__title {
  margin-bottom: 10px;

  font-size: 14px;
  color: #3436bd;
  text-transform: uppercase;
}

.blog__title a {
  color: inherit;
  text-decoration: none;
}

.blog__title a:hover {
  text-decoration: underline;
}

.blog__text {
  font-size: 15px;
  color: #585fc4;
}

.blog__footer {
  padding-top: 14px;
  border-top: 1px solid #e5e5e5;

  font-size: 14px;
  font-style: italic;
  color: #585fc4;
  font-weight: 300;
}

.blog-stat__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

/* Map */
.map {
  text-align: center;
}

.map__title {
  font-size: 24px;
  font-weight: 700;
  color: #0004ff;
}

.map__title a {
  color: inherit;

  text-transform: uppercase;
  text-decoration: none;
}

.map__title a:hover {
  text-decoration: underline;
}

.map__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px auto 30px;

  background-color: #4a4b94;
}

/* Copiright */
.copyright {
  border-top: 1px solid #8081d3;

  padding: 20px 0;
  text-align: center;
  font-style: 14px;
  color: #13144e;
}

.copyright span {
  color: #3436bd;
}



